name: Build and deploy .NET Azure Function App - citizenservices-api-aamani

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: windows-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Build project
        run: dotnet build azure-serverless-api/functions/CitizenFunctions.csproj --configuration Release --output ./output

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_DDF94B95F12541D48A410E5CB888A736 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_4434A5D6A5BF41D9A6EEC04BBC3D01B1 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_C01ED680F5A3415697410519ABA96BFB }}

      - name: Deploy to Azure Function App
        uses: Azure/functions-action@v1
        with:
          app-name: 'citizenservices-api-aamani'
          slot-name: 'Production'
          package: './output'
